## Observations and Insights

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
# mouse_metadata = mouse_metadata.merge(study_results, on = "Mouse ID", how="inner")
combined_df = pd.merge(mouse_metadata,study_results, on = "Mouse ID")
combined_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [28]:
combined_df.head(3)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1

In [26]:
# Checking the number of mice in the DataFrame.
combined_df["Mouse ID"].nunique()
combined_df["Mouse ID"].value_counts()

g989    13
x581    10
x773    10
p189    10
v923    10
        ..
b447     1
x336     1
d133     1
l872     1
x226     1
Name: Mouse ID, Length: 249, dtype: int64

In [43]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup=combined_df[combined_df.duplicated(["Mouse ID", "Timepoint"],keep ='first')]
dup
#dup2=combined_df.duplicated(["Mouse ID", "Timepoint"],keep ='first')

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [47]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
combined_clean_df=combined_df.drop_duplicates(["Mouse ID", "Timepoint"],keep ='first')

In [49]:
# Checking the number of mice in the clean DataFrame.
combined_clean_df["Mouse ID"].value_counts()

x581    10
x773    10
p189    10
v923    10
g296    10
        ..
b447     1
x336     1
d133     1
l872     1
x226     1
Name: Mouse ID, Length: 249, dtype: int64

## Summary Statistics

In [50]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
combined_clean_df.describe()
# This method is the most straightforward, creating multiple series and putting them all together at the end.

,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
count,1888.000000,1888.000000,1888.000000,1888.000000,1888.000000
mean,12.792903,25.661547,19.597458,50.449276,1.023835
std,7.186737,3.926776,14.084762,8.904565,1.138507
min,1.000000,15.000000,0.000000,22.050126,0.000000
25%,7.000000,25.000000,5.000000,45.000000,0.000000
50%,13.000000,27.000000,20.000000,48.951421,1.000000
75%,20.000000,29.000000,30.000000,56.324075,2.000000
max,24.000000,30.000000,45.000000,78.567014,4.000000

In [59]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# This method produces everything in a single groupby function.

byDrug = combined_clean_df.groupby("Drug Regimen")

mean_drug= byDrug["Tumor Volume (mm3)"].mean()
median_drug= byDrug["Tumor Volume (mm3)"].median()
var_drug= byDrug["Tumor Volume (mm3)"].var()
std_drug= byDrug["Tumor Volume (mm3)"].std()
sem_drug= byDrug["Tumor Volume (mm3)"].sem()

In [60]:
%config IPCompleter.greedy=True

In [ ]:
con

## Bar Plots

In [9]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pandas.

In [10]:
# Generate a bar plot showing the number of mice per time point for each treatment throughout the course of the study using pyplot.

## Pie Plots

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [14]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [15]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [16]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [17]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen